* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.body {
    background-color: #E5E5E5;
    width: 100vw;
    height: auto;
}

.recangle-container {
    /* width: 15%; */
    display: flex;
        /* justify-content: space-around; */
    gap: 0.5rem;
    align-items: flex-end;
}



.links {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.container-btn {
    display: flex;
    flex-direction: row;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 4.0625rem 15rem; */
}

.rectangle-32 {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #9C69E2;
    border-radius: 50%;
    /* margin: 0 0.625rem; */
}


.rectangle-33 {
    width: 1.25rem;
    height: 2.19rem;
    background-color: #F063B8;
    border-radius: 1.25rem;
    /* margin: 0 0.625rem; */
}



.links>.link {
margin: 0 0.625rem;
}




.btn-with-arrow {
    background-color: #FFFFFF;
    /* width: 13.125rem; */
    height: 3.75rem;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0.3125rem 0.3125rem rgba(75, 93, 104, 0.1);
    font-weight: 800;
    padding: 2rem;
}

.arrow {
    margin-left: 0.25rem;
}








/* MAIN SECTION */


.main-section-container {
    background-image: url("images/image1 1.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}




/* .main-section-container {
    display: flex;
    justify-content: center;
} */

.big-text-ms {
    color: #212353;
    font-size: 5rem;
    font-weight: 800;
    width: 50%;
}

.small-text-ms {
    color: #4B5D68;
    font-size: 1.125rem;
    font-weight: 500;
    width: 20%;
}

.btn-learn-more {
    width: 10.625rem;
    height: 3.75;
    border-radius: 3.125rem;
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 800;
    padding: 1rem;;
}

.btn-ms {
    border: 1px solid #9C69E2;
    background-color: #9C69E2;
}

/* .image1-1-ms {
width: 100%; */
/* position: relative;
bottom: 0rem;
right: 0rem; */
/* } */




/* .left-side-ms {
position: absolute;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
} */




/* 1 SECTION */



.pink-background-container {
    width: 69,81rem;
    height: 35rem;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.image2 {
    width: 29,81rem;
    height: auto;
}

.big-text-1s {
    color: #212353;
    font-size: 2.5rem;
    font-weight: 700;
}

.small-text-1s {
    color: #4B5D68;
    font-size: 1.125rem;
    font-weight: 500;
}

.text {
    padding: 1.25rem 0;
}

.right-side-fs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* 2 SECTION */

.main-text-ss {
    color: #212353;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.small-text-ss {
    color: #212353;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
}


/* 3 SECTION */

.box {
    margin: 2.5rem;
}


.box1 {
    display: flex;
    background-image: url("Rectangle 39_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 27.6rem;
    height: 14.5rem;
}

.box2 {
    display: flex;
    background-image: url("Rectangle 39_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 27.6rem;
    height: 14.5rem;
}

.box3 {
    display: flex;
    background-image: url("Rectangle 39_3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 27.6rem;
    height: 14.5rem;
}

.box4 {
    display: flex;
    background-image: url("Rectangle 39_4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 27.6rem;
    height: 14.5rem;
}


.front-image-box1 {
    width: 14.5rem;
    height: 13.2rem;
}

.front-image-box2 {
    width: 15.1rem;
    height: 11.8rem;
}

.front-image-box3 {
    width: 15.3rem;
    height: 11.3rem;
}

.front-image-box4 {
    width: 14.4rem;
    height: 12.6rem;
}


.main-text-box {
    color: #212353;
    font-size: 1.5rem;
    font-weight: 400;
}

.small-text-box {
    color: #4B5D68;
    font-size: 1rem;
    font-weight: 400;
}

.learn-more-box {
   color: #212353;
   font-size: 1rem;
   font-weight: 800; 
}

.third-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* DLACZEGO NIE MOGĘ WYŚRODKOWAĆ W PIONIE? SCHODZI MI TYLKO ODROBINĘ NA DÓŁ */
.left-container-of-box {
    display: flex;
    align-items: flex-end;
} 

.right-container-of-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 4 SECTION */

.big-purple-rectangle {
    width: 69.9rem;
    height: 44.3rem;
    background-color: #9C69E2;
    border: 0.06rem solid #9C69E2;
    border-radius: 3.125rem;
}

.big-text-fourth-section {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.first-white-rectangle {
width: 40.3rem;
height: 20.6rem;
border: 0.06rem solid #FFFFFF;
border-radius: 1.25rem;
background-color: #FFFFFF;
margin: 1.25rem;
}

.second-white-rectangle {
width: 25rem;
height: 20.6rem;
border: 0.06rem solid #FFFFFF;
border-radius: 1.25rem;
background-color: #FFFFFF;
margin: 1.25rem;
}

.third-white-rectangle {
width: 25rem;
height: 20.6rem;
border: 0.06rem solid #FFFFFF;
border-radius: 1.25rem;
background-color: #FFFFFF;
margin: 1.25rem;
}

.three-medium-rectangles {
    display: flex;
}

.first-ellipse {
    width: 0.6rem;
    height: 0.6rem;
    border: 0.06rem solid #F063B8;
    border-radius: 50%;
    background-color: #F063B8;
}

.second-ellipse, .third-ellipse, .fourth-ellipse {
    width: 0.31rem;
    height: 0.31rem;
    border: 0.06rem solid #FFFFFF;
    border-radius: 50%;
    background-color: #FFFFFF;
}


.four-ellipses {
    display: flex;
    gap: 1rem;
}

.bottom-icons {
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}

.first-white-rectangle {
    position: relative;
    display: flex;
}



/* .left-side-of-white-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
/* } */ */

.circle-image-1 {
position: absolute;
top:3.75rem;
left: 4.4rem;
}

.right-side-of-white-rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 50%; */
}

.name1 {
font-size: 1.125rem;
font-weight: 900;
color: #212353;
}

.profession1 {
font-size: 0.9rem;
font-weight: 500;
color: #9C69E2;
}

.personal-description1 {
font-size: 1.125rem;
font-weight: 400;
color: #4B5D68;
}


/* SECTION TRY FOR FREE */

.try-for-free {
font-size: 2.5rem;
font-weight: 700;
color: #212353;
}

.get-limited {
font-size: 1.125rem;
font-weight: 500;
color: #4B5D68;
margin-top: 2rem;
}

.btn-learn-more-try-for-free {
    border: 1px solid #F063B8;
    background-color: #F063B8;
    margin-right: 2rem;
}

.section-try-for-free-container {
    display: flex;
    justify-content: space-between;
}

/* DATAWAREHOUSE */

.rectangle-and-datawarehouse {
    display: flex;
}
